Product:
PP00 = (!PP00 ∨ A0) ∧ (!PP00 ∨ B0) ∧ (!A0 ∨ !B0 ∨ PP00)
PP01 = (!PP01 ∨ A0) ∧ (!PP01 ∨ B1) ∧ (!A0 ∨ !B1 ∨ PP01)
PP10 = (!PP10 ∨ A1) ∧ (!PP10 ∨ B0) ∧ (!A1 ∨ !B0 ∨ PP10)
PP11 = (!PP11 ∨ A1) ∧ (!PP11 ∨ B1) ∧ (!A1 ∨ !B1 ∨ PP11)

Carry / Sum:
s1 = (s1 ∨ PP01 ∨ PP10) ∧ (s1 ∨ !PP01 ∨ !PP10) ∧ (!s1 ∨ PP01 ∨ !PP10) ∧ (!s1 ∨ !PP01 ∨ PP10)
c1 = (!c1 ∨ PP01) ∧ (!c1 ∨ PP10) ∧ (!PP01 ∨ !PP10 ∨ c1)

Outputs:
P0 = (!P0 ∨ PP00) ∧ (!PP00 ∨ P0)
P1 = (!P1 ∨ s1) ∧ (P1 ∨ !s1)
P2 = (P2 ∨ PP11 ∨ c1) ∧ (P2 ∨ !PP11 ∨ !c1) ∧ (!P2 ∨ PP11 ∨ !c1) ∧ (!P2 ∨ !PP11 ∨ c1)
P3 = (!P3 ∨ PP11) ∧ (!P3 ∨ c1) ∧ (!PP11 ∨ !c1 ∨ P3)