S0 = (A0 ∨ B0 ∨ Din ∨ !S0) ∧ (A0 ∨ B0 ∨ !Din ∨ S0) ∧ (A0 ∨ !B0 ∨ Din ∨ S0) ∧ (A0 ∨ !B0 ∨ !Din ∨ !S0) ∧ (!A0 ∨ B0 ∨ Din ∨ S0) ∧ (!A0 ∨ B0 ∨ !Din ∨ !S0) ∧ (!A0 ∨ !B0 ∨ Din ∨ !S0) ∧ (!A0 ∨ !B0 ∨ !Din ∨ S0)

D0 = (A0 ∨ B0 ∨ Din ∨ !D0) ∧ (A0 ∨ B0 ∨ !Din ∨ D0) ∧ (A0 ∨ !B0 ∨ Din ∨ D0) ∧ (A0 ∨ !B0 ∨ !Din ∨ D0) ∧ (!A0 ∨ B0 ∨ Din ∨ !D0) ∧ (!A0 ∨ B0 ∨ !Din ∨ !D0) ∧ (!A0 ∨ !B0 ∨ Din ∨ !D0) ∧ (!A0 ∨ !B0 ∨ !Din ∨ D0)

S1 = (A1 ∨ B1 ∨ D0 ∨ !S1) ∧ (A1 ∨ B1 ∨ !D0 ∨ S1) ∧ (A1 ∨ !B1 ∨ D0 ∨ S1) ∧ (A1 ∨ !B1 ∨ !D0 ∨ !S1) ∧ (!A1 ∨ B1 ∨ D0 ∨ S1) ∧ (!A1 ∨ B1 ∨ !D0 ∨ !S1) ∧ (!A1 ∨ !B1 ∨ D0 ∨ !S1) ∧ (!A1 ∨ !B1 ∨ !D0 ∨ S1)

D1 = (A1 ∨ B1 ∨ D0 ∨ !D1) ∧ (A1 ∨ B1 ∨ !D0 ∨ D1) ∧ (A1 ∨ !B1 ∨ D0 ∨ D1) ∧ (A1 ∨ !B1 ∨ !D0 ∨ D1) ∧ (!A1 ∨ B1 ∨ D0 ∨ !D1) ∧ (!A1 ∨ B1 ∨ !D0 ∨ !D1) ∧ (!A1 ∨ !B1 ∨ D0 ∨ !D1) ∧ (!A1 ∨ !B1 ∨ !D0 ∨ D1)

S2 = (A2 ∨ B2 ∨ D1 ∨ !S2) ∧ (A2 ∨ B2 ∨ !D1 ∨ S2) ∧ (A2 ∨ !B2 ∨ D1 ∨ S2) ∧ (A2 ∨ !B2 ∨ !D1 ∨ !S2) ∧ (!A2 ∨ B2 ∨ D1 ∨ S2) ∧ (!A2 ∨ B2 ∨ !D1 ∨ !S2) ∧ (!A2 ∨ !B2 ∨ D1 ∨ !S2) ∧ (!A2 ∨ !B2 ∨ !D1 ∨ S2)

D2 = (A2 ∨ B2 ∨ D1 ∨ !D2) ∧ (A2 ∨ B2 ∨ !D1 ∨ D2) ∧ (A2 ∨ !B2 ∨ D1 ∨ D2) ∧ (A2 ∨ !B2 ∨ !D1 ∨ D2) ∧ (!A2 ∨ B2 ∨ D1 ∨ !D2) ∧ (!A2 ∨ B2 ∨ !D1 ∨ !D2) ∧ (!A2 ∨ !B2 ∨ D1 ∨ !D2) ∧ (!A2 ∨ !B2 ∨ !D1 ∨ D2)